@model Comp235MVCDemo.Models.MoviesList
@Styles.Render("~/Content/Site.css")
@{
    ViewBag.Title = "AllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Movies</h2>

@using (Html.BeginForm("AllMovies", "Home", FormMethod.Post))
{
    var i = 0;
    @Html.HiddenFor(m => m.EditIndex)
<table>
    <tr>
        <th class="tg-0pky">ID</th>
        <th class="tg-0pky">Title</th>
        <th class="tg-0pky">Description</th>
        <th class="tg-0pky">Go to Details</th>
        <th class="tg-0pky">Edit Movie</th>
        <th class="tg-0pky">Delete Movie</th>
    </tr>
    @for (i = 0; i < Model.Items.Count(); i++)
    {
        if (!Model.Items[i].IsEditable)
        {

            <tr>
                <td>@Html.HiddenFor(m => m.Items[i].Id)</td>
                <td>@Html.DisplayFor(m => m.Items[i].Title)</td>
                <td>@Html.DisplayFor(m => m.Items[i].Director)</td>
                <td>@Html.ActionLink("Details", "Details", new { Id = Model.Items[i].Id })</td>
                <td>@Html.ActionLink("Edit", "MoviesEdit", new { id = Model.Items[i].Id })</td>
                <td>@Html.ActionLink("Delete", "DeleteMovie", new { id = Model.Items[i].Id })</td>
            </tr>
        }
        else
        {

            <tr>
                <td>@Html.HiddenFor(m => m.Items[i].Id)</td>
                <td>@Html.TextBoxFor(m => m.Items[i].Title)</td>
                <td>@Html.TextBoxFor(m => m.Items[i].Director)</td>
                <td>@Html.ActionLink("Details", "Details", new { Id = Model.Items[i].Id })</td>
                <td> <input type="submit" value="Save" name="Save" class="btn btn-link" /></td>
                <td> <input type="submit" value="Cancel" name="Cancel" class="btn btn-link" /></td>
                <td> <input type="submit" value="Delete" name="Delete" class="btn btn-link" /></td>
            </tr>
        }

    }
</table>
}

